---
import SocialButton from '../components/SocialButton.astro';
---
<div class="social_container">

	<SocialButton link="mailto:miguel.avila.dev@gmail.com" label='Send an email to miguel.avila.dev@gmail.com'>
		<svg viewBox="0 0 24 24" fill="#8ABF17" xmlns="http://www.w3.org/2000/svg">
			<path d="M4 20C3.45 20 2.97917 19.8042 2.5875 19.4125C2.19583 19.0208 2 18.55 2 18V6C2 5.45 2.19583 4.97917 2.5875 4.5875C2.97917 4.19583 3.45 4 4 4H20C20.55 4 21.0208 4.19583 21.4125 4.5875C21.8042 4.97917 22 5.45 22 6V18C22 18.55 21.8042 19.0208 21.4125 19.4125C21.0208 19.8042 20.55 20 20 20H4ZM12 13L20 8V6L12 11L4 6V8L12 13Z"/>
		</svg>
	</SocialButton>

	<SocialButton link="https://github.com/Mixdor" label='Visit my GitHub profile'>
		<svg viewBox="0 0 24 24" fill="#8ABF17" xmlns="http://www.w3.org/2000/svg">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M12.0074 3C7.02656 3 3 7.12498 3 12.2281C3 16.3074 5.57996 19.7604 9.15904 20.9825C9.60652 21.0744 9.77043 20.7839 9.77043 20.5396C9.77043 20.3257 9.75568 19.5924 9.75568 18.8283C7.25002 19.3784 6.72824 17.7283 6.72824 17.7283C6.32557 16.6588 5.72893 16.3839 5.72893 16.3839C4.90883 15.8186 5.78867 15.8186 5.78867 15.8186C6.69837 15.8797 7.17572 16.7658 7.17572 16.7658C7.98089 18.1713 9.27833 17.7742 9.8003 17.5297C9.87478 16.9338 10.1135 16.5213 10.3671 16.2922C8.36863 16.0783 6.26602 15.2838 6.26602 11.7392C6.26602 10.7308 6.6237 9.90578 7.19047 9.26416C7.10105 9.03504 6.7878 8.0876 7.28008 6.81955C7.28008 6.81955 8.04062 6.57505 9.75549 7.76679C10.4897 7.56479 11.2469 7.46203 12.0074 7.46117C12.768 7.46117 13.5433 7.56823 14.2592 7.76679C15.9743 6.57505 16.7348 6.81955 16.7348 6.81955C17.2271 8.0876 16.9137 9.03504 16.8242 9.26416C17.4059 9.90578 17.7489 10.7308 17.7489 11.7392C17.7489 15.2838 15.6463 16.0629 13.6329 16.2922C13.9611 16.5824 14.2443 17.1324 14.2443 18.0033C14.2443 19.2408 14.2295 20.234 14.2295 20.5394C14.2295 20.7839 14.3936 21.0744 14.8409 20.9827C18.42 19.7602 21 16.3074 21 12.2281C21.0147 7.12498 16.9734 3 12.0074 3Z"/>
		</svg>
	</SocialButton>

	<SocialButton link="https://www.linkedin.com/in/dev-miguel-avila" label='Visit my LinkedIn profile'>
		<svg viewBox="0 0 24 24" fill="#8ABF17" xmlns="http://www.w3.org/2000/svg">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M4.35686 3H19.6963C20.4309 3 21 3.58029 21 4.29514V19.704C21 20.4197 20.2166 21 19.482 21H4.14257C3.40886 21 3 20.4197 3 19.704V4.29514C3 3.58029 3.62314 3 4.35686 3ZM8.46429 6.85714C8.46439 7.06817 8.42291 7.27714 8.34224 7.47213C8.26156 7.66713 8.14326 7.84431 7.9941 7.99358C7.84494 8.14285 7.66784 8.26128 7.47291 8.34209C7.27797 8.42291 7.06903 8.46453 6.858 8.46459C6.64698 8.46465 6.43802 8.42313 6.24304 8.34242C6.04806 8.26171 5.87089 8.14338 5.72165 7.99419C5.57241 7.845 5.45402 7.66787 5.37324 7.47293C5.29246 7.27798 5.25088 7.06902 5.25086 6.858C5.25083 6.43193 5.42003 6.02329 5.72126 5.72195C6.02249 5.42062 6.43107 5.25128 6.85715 5.25116C7.28322 5.25105 7.6919 5.42018 7.99329 5.72135C8.29467 6.02252 8.4641 6.43107 8.46429 6.85714ZM12.2803 9.85714H9.85715V18.4286H12.4286V14.3117C12.4286 12.8751 13.0449 12 14.3374 12C15.402 12 15.8571 13.0003 15.8571 14.1403V18.4286H18.4286V13.6714C18.4286 11.1249 17.706 9.75 15.1166 9.75C13.7674 9.75 12.6763 10.4263 12.3069 11.0923H12.2803V9.85714ZM8.14286 9.85714V18.4286H5.57143V9.85714H8.14286Z"/>
		</svg>
	</SocialButton>

	<SocialButton link="https://stackoverflow.com/users/14875702/mixdor" label='Visit my Stack Overflow profile'>
		<svg viewBox="0 0 24 24" fill="#8ABF17" xmlns="http://www.w3.org/2000/svg">
			<path d="M17.5119 19.3938V14.5755H19.2021V21H4V14.5755H5.69018V19.3938H17.5119Z"/>
			<path d="M7.38225 17.7876H15.8332V16.1816H7.38225V17.7876ZM14.9564 3L13.6002 3.95842L18.6438 10.4015L20 9.44311L14.9564 3ZM10.7643 6.79857L17.2581 11.9374L18.3398 10.7033L11.846 5.56449L10.7643 6.79857ZM8.64434 10.3697L16.3052 13.7598L17.0188 12.304L9.3579 8.91386L8.64434 10.3697ZM7.55007 14.1324L15.8204 15.7839L16.168 14.2123L7.89769 12.5607L7.55007 14.1324Z"/>
		</svg>
	</SocialButton>
	
</div>

<style>

	.social_container{
		display: flex;
		flex-direction: row;
		gap: 0.25rem;
		align-items: flex-start;
	}

	@media (max-width: 768px) {

		.social_container{
			gap: 0.5rem;
		}

	}
	
</style>