---
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="I'm Luis Miguel Avila, a developer passionate about creating mobile apps. Check out my projects and contact me!">
		<link rel="icon" type="image/svg+xml" href="favicon.svg" />
		<title>Engr. Luis Miguel Avila</title>
	</head>
	<body>
		<slot />
	</body>
</html>
