---
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="author" content="Mixdor">
		<meta name="description" content="I'm Luis Miguel Avila, a developer passionate about creating mobile apps. Check out my projects and contact me!">

		<!-- Open Graph (Facebook, WhatsApp, LinkedIn) -->
		<meta property="og:title" content="Engr. Luis Miguel Avila">
		<meta property="og:description" content="I'm a developer passionate about creating mobile apps. Check out my projects and contact me!">
		<meta property="og:image" content="https://mixdor.github.io/portfolio/cover.webp">
		<meta property="og:url" content="https://mixdor.github.io/portfolio">
		<meta property="og:type" content="website">
		<meta property="og:site_name" content="Engr. Luis Miguel Avila">

		<link rel="icon" type="image/svg+xml" href="favicon.svg" />
		<title>Engr. Luis Miguel Avila</title>
	</head>
	<body>
		<slot />
	</body>
</html>
